@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/LogoLayout.cshtml";
}
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center" style="font-size: 26px;font-weight: bold; padding-top: 50px;padding-bottom: 20px;">
                Вы успешно зарегистрированы!
            </div>
            <div class="col-md-4 col-md-offset-4 text-center" style="padding-bottom: 30px;">
                Теперь вы можете начать использовать LOGO!
                Загружайте свои файлы и делитесь ими с остальными пользователями!
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="btn btn-primary col-md-2 col-md-offset-5" style="padding-bottom: 10px;">Загрузить файл</div>
            <div class="btn col-md-2 col-md-offset-5" style="margin-top:10px;border-radius: 5px;border-color: blue;">Создать папку</div>
        </div>
    </div>
