@model MediaPortal.Models.FileSystemModels


<div class="col-md-3" id="FileSystemBlockItem">
    
    <div class="fileBlockTitle">
        <div class="col-md-1">
            <span id="iconFile"></span>
        </div>
        <div class="col-md-3 col-md-push-2" id="fileNameListitem">@Model.Name</div>
    </div>
</div>
