@model MediaPortal.Models.FileSystemModels


<div class="col-md-3 fileSystem-list-item" name="@Model.Id" folder-name="@Model.Name">
    <div class="col-md-4 col-md-pull-2">
        @if (Model.Type.Equals("Folder"))
        {
            <span id="iconFolder"></span>
        }
        else
        {
            <span id="iconFile"></span>
        }
    </div>
    <div class="col-md-8 col-md-pull-3 element-name">
        @Model.Name
    </div>

</div>
