@model MediaPortal.Models.FileSystemModels


<div class="col-md-12 FileSystemListItem">
    <div class="col-md-1">
        @if (Model.Type.Equals("Folder"))
        {
            <span id="iconFolder"></span>
        }
        else
        {
            <span id="iconFile"></span>
        }
    </div>
    <div class="col-md-8" id="fileNameListItem">
        @Model.Name
        @Html.ActionLink("linkText","UserFiles","Home", routeValues: new { folderId = Model.Id, folderName = Model.Name },htmlAttributes: null)</div>
    <div class="col-md-3" id="fileTagListItem">#проект #работа</div>
</div>
