body {
    background-color: #e8e9ec;
}

.logo {
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 50px;
    font-family: "Raleway";
    font-weight: 800;
    color: rgb(29, 27, 67);
    text-transform: uppercase;
    line-height: 1;
    text-align: center;
}

.greetings {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 25px;
    font-family: "Raleway";
    font-weight: 600;
    color: rgb(153, 153, 153);
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
}

#backgroundForm {
    background-color: white;
    position: absolute;
    width: 360px;
    height: 450px;
    margin-left: 500px;
    box-shadow: 0 4px 2px -2px gray;
}

#loginForm {
    background-color: white;
    box-shadow: 0 4px 2px -2px gray;
    /*height: 600px;*/
}

.registerText {
    padding-top: 60px;
    margin-bottom: 10px;
    font-size: 28px;
    font-family: "Raleway";
    font-weight: 800;
    color: rgb(97, 97, 97);
    line-height: 1.286;
    text-align: center;
}

.loginLink a {
    text-decoration: none;
    color: #8480da;
    font-size: 18px;
    text-align: center;
}

.loginLink {
    margin-bottom: 50px;
}

#registerInput {
    border-width: 2px;
    border-color: rgb(153, 153, 153);
    border-style: solid;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    /*margin-left: 50px;*/
    height: 40px;
    /*  width: 356px;
  height: 56px;*/
}

#registerButton {
    font-size: 16px;
    font-family: "Raleway";
    color: #fefefe;
    background-color: #4640c8;
    font-weight: 600;
    margin-top: 30px;
    padding-top: 12px;
    padding-bottom: 12px;
    /*margin-left: 18px;
    margin-top: 15px;*/
    /*width: 260px;*/
}

#facebookRegisterButton {
    font-size: 16px;
    font-family: "Raleway";
    font-weight: 600;
    color: rgb(97, 97, 97);
    border-width: 1px;
    border-color: rgb(97, 97, 97);
    border-radius: 5px;
    background-color: #ffffff;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    padding-top: 12px;
    padding-bottom: 10px;
    /*margin-left: 50px;*/
    /*width: 280px;*/
}

    #facebookRegisterButton #IconFB {
        content: url(/Content/icons/facebook.svg);
        height: 16px;
        width: 16px;
        margin-right: 10px;
    }

/* Main layout */

.firstHeaderBlock {
    background-color: #ffffff;
    /* box-shadow: 0 4px 2px -2px gray; */
    margin-bottom: 2px;
    padding-top: 10px;
    /*padding-bottom: 10px;*/
}

#customSearch {
    margin-top: 10px;
}

.IconSearch {
    content: url(/Content/icons/search.svg);
    height: 18px;
    width: 18px;
    margin-right: 5px;
    padding-left:5px;
}
.IconSearch:hover {
    /*content: url(/Content/)*/
}

#iconSearchFilter {
    content: url(/Content/icons/next.svg);
    height: 16px;
    width: 16px;
    padding:0px;
    margin-right:5px;
    /*margin-right: 10px;*/
    /*padding-left:20px;*/
    -webkit-transform: rotate(90deg); /* Chrome y Safari */
    -moz-transform: rotate(90deg); /* Firefox */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); /* Internet Explorer */
    -o-transform: rotate(90deg); /* Opera */
}

#icon-href-delimiter {
    content: url(/Content/icons/next.svg);
    height: 15px;
    width: 15px;
    /*margin-right: 10px;*/
    /*-webkit-transform: rotate(90deg); /* Chrome y Safari */
    -moz-transform: rotate(90deg); /* Firefox */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); /* Internet Explorer */
    -o-transform: rotate(90deg); /* Opera */
}
#searchDropDown {
    left: -5px;
    margin: -15px 0 0;
}

#iconSortFilter {
    content: url(/Content/icons/next.svg);
    height: 10px;
    width: 10px;
    margin-left: 10px;
    -webkit-transform: rotate(90deg); /* Chrome y Safari */
    -moz-transform: rotate(90deg); /* Firefox */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); /* Internet Explorer */
    -o-transform: rotate(90deg); /* Opera */
}

#mainDropDownButton {
    background-color: rgb(255,255,255);
}

    #mainDropDownButton:hover {
        background-color: lightgray;
    }

button.dropDownButton {
    background-color: rgb(255,255,255);
}

.active {
    background-color: black;
}

.btn.buttonList {
    background: url(/Content/icons/list.svg) no-repeat;
    height: 30px;
    width: 30px;
    margin-left: 10px;
    margin-right: 10px;
}

    .btn.buttonList:hover {
        background-color: lightgray;
    }

.btn.buttonTile {
    background: url(/Content/icons/tile.svg) no-repeat;
    height: 30px;
    width: 30px;
}

    .btn.buttonTile:hover {
        background-color: lightgray;
    }

.textUsual {
    font-family: "Raleway";
    font-weight: 400;
    color: rgb(153, 153, 153);
    text-align: center;
}

#defaultLogo {
    font-size: 40px;
    font-family: "Raleway";
    font-weight: 800;
    color: rgb(29, 27, 67);
    text-transform: uppercase;
    text-align: center;
}

.secondHeaderBlock {
    background-color: #ffffff;
    box-shadow: 0px 2px 5px 0px #c4c4c4;
    margin-top: 2px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 60px;
}

#userRoutes {
    font-family: "Raleway";
    font-weight: 800;
    font-size: 20px;
    text-decoration:none;
}
#userRoutes:hover {
    cursor:pointer;
    text-decoration:none;
}

.userSettings {
    border-right: 1px solid #e8e9ec;
}

#uploadButton {
    font-size: 14px;
    font-family: "Raleway";
    color: rgb(255, 255, 255);
    background-color: #514bc8;
    margin-top: 25px;
    padding: 0;
    padding-top:7px;
    height:35px;
}

.file-upload {
    opacity: 0;
    cursor: pointer;
    padding: 0px;
    margin: 0px;
    border: none;
    height: 7px;
}

.upload-file-label {
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.upload-file-span {
    height: 7px;
}

#folderCreateButton {
    font-size: 14px;
    font-family: "Raleway";
    color: black;
    border-width: 2px;
    border-color: #514bc8;
    border-style: solid;
    border-radius: 5px;
    margin-top: 10px;
}
/* User partial */
#userImage {
    content: url(/Content/icons/userImage.png);
    height: 45px;
    width: 45px;
}



/* FileSystemView*/
.fileSystem-list-item-folder {
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 3px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: white;
    height: 40px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    box-shadow: 0px 2px 5px 0px #c4c4c4;
}
.fileSystem-list-item-folder .element-name {
    padding-top:5px;
}
.fileSystem-list-item {
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 3px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: white;
    height: 40px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    box-shadow: 0px 2px 5px 0px #c4c4c4;
}
    .fileSystem-list-item-folder:hover {
        background-color: lightgray;
        cursor: pointer;
    }

.fileSystem-list-item-folder-active {
    color: blue;
    border: 1px solid blue;
    background-color: lightgray;
}


.fileSystem-list-item .element-name{
    padding-top:5px;
}

.fileSystem-list-item:hover {
    background-color: lightgray;
}
.fileSystem-list-item-active {
    color:blue;
    border:1px solid blue;
    background-color:lightgray;
}

.fileSystem-list-item-file-active {
    color: blue;
    border: 1px solid blue;
    background-color: lightgray;
}

#folderActive {
    content: url(/Content/icons/folder-purp.svg);
}

#iconFolder {
    content: url(/Content/icons/folder.svg);
    height: 25px;
    width: 25px;
    padding-top:5px;
    margin-left: 10px;
}
#iconFile {
    content: url(/Content/icons/picture.svg);
    height: 25px;
    width: 25px;
    padding-top: 5px;
    margin-left: 10px;
}

#iconVideo {
    content: url(/Content/icons/video-player.svg);
    height: 25px;
    width: 25px;
    padding-top: 5px;
    margin-left: 10px;
}

.file-name-list-item {
    padding-top:5px;
    font-family:"Raleway";
    font-size:16px;
}
#fileTagListItem {
    padding-top:5px;
    font-family:"Raleway";
    font-size:16px;
}

#downloadHiddentButton 
{
    display:none;
}

#FileSystemBlockItem {
    border:1px solid black;
    border-radius:8px;
    height:150px;
    margin-right:15px;
}
#fileBlockTitle {
background-color:white;
}

#thumbnailImage {
}
.error500Padd {
    padding-top: 20%;
}

.error500PaddTitle {
    padding-top: 5%;
}

.error500PaddBady {
    padding-top: 1%;
}

.error500PaddBtn-primary {
    background-color: #4640c8;
    border-color: #4640c8;
}



.accsseseContainer {
    background-color: white;
    border-radius: 5px;
    padding-left: 0%;
    padding-right: 0%;
}

.accsseseBady {
    padding-left: 0%;
    padding-right: 0%;
}

.accsseseCastomPad {    
    padding-left: 0%;
    padding-right: 0%;
    text-align: left;
}

.accsseseContainerCastomPad {
    margin-top: 30%;
}

.accssesecastomPadBot {
    padding-left: 5%;
}

.accssese-btn-primary {
    background-color: #4640c8;
    border-color: #4640c8;
}

.accssese-textAreaCast {
    resize: none;
    border: 1px rgb(153, 153, 153) solid;
    box-shadow: none;
    width: 100%;
    color: rgb(100, 100, 100);
}

.accssese-titleCast {
    color: white;
    background-color: rgb(100, 100, 100);
    padding-top: 4%;
    padding-left: 7%;
    padding-bottom: 4%;
}

.accssese-userCast {
    color: rgb(153, 153, 153);
    padding-top: 0%;
    padding-left: 7%;
    padding-bottom: 3%;
}

.accssese-userInputCast {
    padding-top: 0%;
    padding-left: 7%;
    padding-bottom: 0%;
}

.accssese-paddCast {
    padding-bottom: 5%;
}

.accssese-urlTopCast {
    padding-top: 7%;
    padding-bottom: 6%;
}

.accssese-urlCast {
    color: rgb(153, 153, 153);
    padding-left: 7%;
    padding-top: 2%;
}

.thumbnail {
    padding: 0px;
    border-radius: 10px;
    box-shadow: 0 4px 2px -2px gray;
    margin-bottom: 30px;
}
.thumbnail img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 150px;
    width: 100%;
}


.file-block-item {

}

.ModalDeleterr {
    margin: 0;
    padding: 0;
}

.ModalDeleterr1 {
    margin-bottom: 15px;
    margin-top: 15px;
}

.ModalDeleteww {
    padding-bottom: 10px;
}

.hide {
    display: none;
}

.rmenu {
    background-color: white;
    border-radius: 5px;
    padding-left: 0;
    padding-right: 0;
    box-shadow: -2px 2px 6px -2px #969696;
}

.rmenu-ul {
    padding: 0;
    list-style: none;
    margin: 0;
    color: rgb(153, 153, 153);
}

.rmenu-li {
    list-style: none;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-bottom: 1px solid #e8e9ec;
    cursor: pointer;
}

    .rmenu-li:hover {
        background-color: #eeeeee;
    }


.modal-content-tag {
    margin-top: 35%;
}

.row-tag {
    padding-left: 40px;
    padding-right: 30px;
}

.modal-header-tag {
    padding: 0;
    padding-top: 36px;
    padding-bottom: 16px;
    border-bottom: none;
}

.modal-title-tag {
    color: #898989;
}

.modal-body-tag {
    padding: 0px;
}

.form-control-tag {
    resize: none;
    border: 1px #898989 solid;
    box-shadow: none;
    width: 430px;
    height: 87px;
}

.modal-footer-tag {
    border-top: none;
    padding: 0px;
    padding-top: 13px;
    padding-bottom: 21px
}

.row-tag2 {
    text-align: left;
    color: #898989;
    letter-spacing: 1px;
    font-size: 9px;
    line-height: 8px;
}

.tag-count {
    margin-top: 6px;
}

.btn-tag {
    background-color: #514BC8;
    padding: 0px;
    letter-spacing: 1px;
    font-size: 18px;
    height: 50px;
    width: 160px;
}


.ZIPdownload-ModalHide {
    visibility: hidden
}

.ZIPdownload-ModalShow {
    visibility: visible
}

.ZIPdownload-modalCast {
    position: fixed;
    display: block;
    bottom: 1%;
    right: 1%;
    z-index: 1000;
    padding: 0;
    background: red;
    height: 80px;
    background-color: white;
    border-radius: 5px;
    box-shadow: -2px 2px 6px -2px #969696;
}

.zip-process-titleCast {
    color: white;
    background-color: rgb(100, 100, 100);
    padding-top: 3%;
    padding-left: 10%;
    padding-bottom: 3%;
}

.zip-process-textCast {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 10%;
    padding-right: 0;
}

.zip-process-text1Cast {
    color: rgb(100, 100, 100);
    padding-top: 6%;
    padding-bottom: 3%;
    padding-left: 0;
    padding-right: 0;
}

.zip-process-text2Cast {
    color: rgb(100, 100, 100);
    padding-top: 2%;
    padding-left: 0;
    padding-right: 0;
}

#loadingIcon {
    content: url(/Content/icons/processing.gif);
    height: 35px;
    width: 35px;
}


#moveButton {
    font-size: 14px;
    font-family: "Raleway";
    color: black;
    padding: 0;
    border-width: 2px;
    border-color: #514bc8;
    border-style: solid;
    border-radius: 5px;
}

#moveCancelButton {
    font-size: 14px;
    font-family: "Raleway";
    color: rgb(255, 255, 255);
    padding: 0;
    background-color: #514bc8;
    margin-top: 2px;
}

.move-file-system {
    margin-top: 45px;
    padding: 0;
    border-radius: 10px;
    visibility: visible;
}

.move-file-system-hidden {
    visibility: hidden;
}

.move-padding {
    padding: 5px;
}

.move-file-system-count {
    margin-top: 9px;
}

/* ViewFile */
#view-form {
    margin-top:120px;
    background-color:white;
    border-radius:5px;
    border-bottom:1px solid gray;
}

#top-objects {
    margin-top:15px;
    padding:0px;
    float:left;
}

#file-title {
    font-family:"Raleway";
    font-weight:400;
    font-size:20px;
    padding:0px;
}

#buttonDownload {
    margin-top:10px;
}

#file-size {
    font-family: "Raleway";
    font-weight: 400;
    font-size: 14px;
    padding: 0px;
}

#thumbnail {
    margin-top: 20px;
    display: inline-block;
}

    #thumbnail img {
        width:100%;
    }

#playButton {
    content: url(/Content/icons/icon-play.svg);
    height: 80px;
    width: 80px;
    position: fixed;
    display: block;
    z-index: 1000;
    padding: 0;
    /*/*position: absolute;*/
    z-index: 1000;
    margin-left: 120px;
    margin-top: -205px;
    /*position: absolute;
    
    */*/
}

#tags {
    padding-top: 10px;
    padding-left:0px;
    font-size: 16px;
    color: grey;
    font-family: "Raleway";
    margin-bottom:15px;
}

#accsseseLink {
    display: none;
}

#close-view {
    content: url(/Content/icons/cancel.svg);
    height: 30px;
    width: 30px;
    position: absolute;
    margin-left: 820px;
    margin-top: 50px;
}