body {
    /*padding-top: 50px;*/
    /*padding-bottom: 0px;*/
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#GlobalBackground {
    background-color: #E4E4E4;
}

#HomeHeader {
    background-color: #FFFFFF;
}

#logo {
    font-size: 34px;
    font-weight: bold;
    text-transform: uppercase;
}

#greetings {
    font-size: 24px;
}

#authorizationBlock {
    height: 450px;
    background-color: white
}

#topContainer #logo {
    padding-top: 10px;
    height: 30px;
}


#topContainer #loginSectionBlock {
    padding-top: 10px;
}

#topContainer #custom-search {
    padding-top: 10px;
}

#topContainer #dropdown {
    display: inline-block;
}

#UserRouteFolder {
    font-weight: bold;
    font-size: 16px;
}

hr {
    margin-top: 5px;
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

#secondContainer {
    margin-top: 0px;
    height: 30px;
}

    #secondContainer .btn {
        margin-right: 10px;
        padding-top: 0px;
    }

    #secondContainer #ViewOption {
        border-right: 1px solid gray;
    }

        #secondContainer #ViewOption .btn, .btn-info {
            height: 20px;
            background-color: #cccccc;
        }

#shadowHr {
    border: 0;
    height: 0; /* Firefox... */
    box-shadow: 0 0 20px 1px rgba(0, 0,0,0.5);
}

#userImage {
    height: 35px;
    width: 35px;
    margin-top: 5px;
}


/*Login-Register view*/
#signinInvitation {
    padding-top: 50px;
    font-size: 22px;
    font-weight: bold
}

#registerLinkIndentation {
    padding-bottom: 40px;
}
